body {
  background-color: #f1f1f1;
}

.login-page {
  background-color: #000;
  height: 100vh;
  width: 100%;
}

.login-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 700px;
}

.login-button-container {
  width: 100%;
  height: 100px;
}

.login-buttons {
  width: 300px;
  margin: 0 auto;
}

.ui.fixed.menu {
  height: 50px;
}

.ui.container.puzzle-wide {
  width: 90vw;
}

.ui.container.main {
  margin-top: 70px;
  margin-bottom: 20px;
}

.clue-box {
  display: flex;
  align-items: center;
  background-color: pink;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
}

.clue-box .clue-label {
  font-weight: bold;
  margin: 0 5px;
}

.ui.list.clue-list {
  height: 100%;
  overflow-y: hidden;
  cursor: pointer;
}

.ui.list.clue-list:hover {
  overflow-y: overlay;
}

.ui.list.clue-list .clue-number {
  width: 1.5em;
  display: inline-block;
  text-align: left;
  margin-right: 0.5em;
  font-weight: bold;
}

.grid-box {
  position: relative;
}
